body{
		font-family:Segoe UI,Tahoma,Verdana,Arial,sans-serif;
	color:#7c7c7c;
	  padding-top: 50px;
  padding-bottom: 20px;
 }
 
 h1{
	 color:#4688c8 !important;
	 }
 
 h2{
	color:#4688C8;
	}

a {
	color:#4688C8;
	}
	
address{
	font-weight:bold;
	}

.row{
	padding-top:10px;
	padding-bottom:10px;
	margin-right:0px;
	margin-left:0px;
	}

#titre{
		font-size:36px;
	}